name: Publish
on:
  push:
    branches:
      - main
jobs:
  copy-go:
    runs-on: ubuntu-latest
    steps:
      - name: Copy generated Go
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
          src_path: /go/pb/.
          dst_path: /pb/.
          dst_owner: pomerium
          dst_repo_name: enterprise-client-go
          dst_branch: main
          clean: true

  copy-python-deps:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        dep: [envoy, udpa, validate, xds]
    steps:
      - name: Copy generated Python
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
          src_path: /python/pb/${{ matrix.dep }}/.
          dst_path: /src/${{ matrix.dep }}/.
          dst_owner: pomerium
          dst_repo_name: enterprise-client-python
          dst_branch: main
          clean: true

  copy-python:
    runs-on: ubuntu-latest
    steps:
      - name: Copy generated Python
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
          src_path: /python/pb/pomerium/pb/.
          dst_path: /src/pomerium/pb/.
          dst_owner: pomerium
          dst_repo_name: enterprise-client-python
          dst_branch: main
          clean: true
